/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
		sans-serif;
}

h1,
h2,
h3 {
	line-height: 1.2
}

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 890px;
	margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vis-holder-half {
	width: 50%;
	height: 100%;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub a {
	background: rgb(217, 148, 70);
	color: #fff;
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 1rem;
	line-height: 1.4rem;
	position: relative;
	transition: 0.5s;
}

#forkongithub a:hover {
	background: #118;
	color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}

#forkongithub a::after {
	bottom: 1px;
	top: auto;
}

@media screen and (min-width:1000px) {
	#forkongithub {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
		z-index: 9999;
	}

	#forkongithub a {
		width: 200px;
		position: absolute;
		top: 60px;
		right: -60px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	}
}

#map-container svg g#areas path {
	transition: fill 0.3s;
}


.tooltip {
	position: absolute;
	text-align: center;
	padding: 8px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}

.vis-comparison {
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"title title"
		"description description"
		"map comparison";
}

#comparison-title {
	justify-self: center;
	grid-area: title;
}

#comparison-description {
	justify-self: center;
	grid-area: description;
}

#map-container {
	grid-area: map;
}

#comparison-container {
	grid-area: comparison;
}

<<<<<<< Updated upstream
.button {
	align-items: center;
	background-clip: padding-box;
	background-color: #fa6400;
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button:hover,
.button:focus {
	background-color: #fb8332;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
	transform: translateY(-1px);
}

.button:active {
	background-color: #c85000;
	box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
	transform: translateY(0);
=======
.row {
	display: flex;
	justify-content: space-around; /* This will space your images evenly */
	margin-bottom: 20px; /* This adds space between the rows */
}

.image-container {
	width: 48%; /* This sets the container to take up half of the row's width */
	display: flex;
	justify-content: center; /* This will center the image in the container */
}

.image-container img {
	width: 100%; /* This makes the image take up the full container width */
	height: auto; /* This keeps the image aspect ratio intact */
>>>>>>> Stashed changes
}